{% block content %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
	<body style=" background-color: #444; background: url(http://s18.postimg.org/l7yq0ir3t/pick8_1.jpg);" >
	 
		<div class="container" style="margin-left: 150px;">
		
			<div class="col-md-4">				
			</div>

			<div class="col-md-5">
					<div class="panel-group">
					
			    <div class="panel panel-info">
			      <div class="panel-heading" style="font-size: 25px; text-align: center; font-style: Courier; color: blue; font-weight: bolder;" >REGISTERED STUDENTS </div>
						

						    {% for CRUD in object_list %}
				    		
				    		<div style="font-size: 
					    			20px; margin-left: 10px; margin-top: 20px; margin-bottom: 20px; color: black">
					    				{{ CRUD.fname }} {{ CRUD.lname }}
	

						    			<a href="{% url 'std_delete' CRUD.id %}" class="btn btn-info btn-lg"
										style="background-color: red; float: right; margin-right: 10px;padding: 5px;"> <span class="glyphicon glyphicon-trash"></span> Delete</a>

					    				<a href="{% url 'std_update' CRUD.id %}" class="btn btn-info btn-lg" style="background-color: yellow; color: black; float: right; margin-right: 10px;  padding: 5px;"> <span class="glyphicon glyphicon-cog"></span> Update</a>									
				    		
					    			</div>
					    		
								
						    {% endfor %}

					
						<a href="{% url 'index' %}"><button class="btn btn-lg btn-primary btn-block" style="height: 50px; width: 300px; margin-left: 70px; margin-bottom: 10px; margin-top: 20px; background-color: green; font-weight: bolder; font-size: 20px;">BACK</button></a>
				
			    </div>
			  </div>
	
			</div>

			  
			<div class="col-md-4">				

			</div>
			

		</div>

	</body>
</html>



{% endblock %}